body {
    max-width: 500px;
    max-height: 600px;
}

#list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.download:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.download {
    position: relative;
    /*display: block;*/
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);

    display: grid;
    grid-template-columns: 4fr 20fr 1fr;
    grid-gap: 0 0.5rem;
}

.download__description {
    color: #6c757d !important;
}

.download__cover_container {
    grid-row: 1/span 4;
    grid-column: 1/span 1;
}

.download__title, .entry__progress_bar, .download__description {
    grid-column: 2/span 1;
}

.download__action_icon_container {
    grid-row: 1/span 4;
    grid-column: 3/span 1;
    cursor: pointer; }

.download__cover_container, .download__action_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download__progress_bar {
    width: 100%;
}

.download__cover {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.browser-action-popup--empty {
    padding: 15px;
}

